.mainContainer {
    background: url('../photos/Creation.jpg') no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

.link3 {
    display: block;
    cursor: pointer;
    border: 1px solid #cf9b19; 
    border-radius: 18px 18px 18px 18px;
    width: 200px;
    height: 30px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    margin-left: 5px;
    margin-top: 5px;
    background-color: #cf9b19;
}

.link3:hover {
        background-color: black;
        border: 1px solid black;
        color: #cf9b19;
}



.detailImage {
    display: block;
    margin-left: 110px;
     border: 2px solid black;
     border-radius: 20px; 
     width: 700px;
     height: 500px;
     
}

.secondaryContainer {
    width: 60vw;
    height: 200vh ;
    background-color: rgb(112, 73, 0);
    border-radius: 30px;
    padding-top: 40px;
    opacity: 0.9;
}

.pageTitle {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 28px;
    margin-bottom: 10px;
    margin-left: 33px;
    margin-top: 30px;
}

.recipeTitle {
    display: block;
    margin-top: 20px;
    margin-left: 110px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 50px;
    font-weight: lighter;
}

.recipeId {
    display: block;
    margin-top: 40px;
    margin-left: 110px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 25px;
    font-weight: lighter;
}

.innerTitles {
        margin-top: 10px;
        color: grey;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        text-align: center;
}

.innerText {
    margin-top: 10px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
}

.innerText2 {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: lighter;
    text-align: justify;
}

